@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.bg-main {
  background-color: #012655;
}
.bg-secondary {
  background-color: #091627;
}
.bg-hover {
  background-color: #00466f;
}
.bg-hover-secondary {
  background-color: #0075ff;
}

.font-audiowide {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-exo {
  font-family: "Exo 2", sans-serif;
}
